html{
  cursor: url("cursor.cur")!important;
}

body{
  font-family: 'Raleway', sans-serif!important;
  background-color: #010001!important;
  cursor: url("cursor.cur")!important;
  text-decoration: none!important;
}

h1{
  font-size: 5em;
  font-weight:700!important;}

body p, h1{
  color:#fffafa;
}

p{
  font-size: 1em;
  font-weight: lighter;
}

a{
  text-decoration: none!important;
  cursor: url("cursor.cur");
}

.cta:hover{
  text-decoration: none!important;
}

.navbar-toggler-icon {
  background-image: url('http://localhost/prova2/wp-content/uploads/2020/09/pngwhitw-1.png')!important;
}

a:visited{
  color:#fffafa;
}

.navbar {
  z-index:232883!important;
}
.navbar a{
  font-weight:500;
  color:#fffafa;
  font-size: 15px;
  text-decoration:none;
  padding: 10px;
}

.navbar a:hover{
  color:#fffafa!important;
  font-weight: 500;
  font-size: 15px;
  text-decoration:none;
}

.navbar li:hover{
  border-bottom: 3px solid #FF686B;
  transition: all 0.3s ease;
}

.navbar li{
  padding:10px;
}

/*div a.bottone-default{
  border-radius: 20px;
  background-color: #FF686B;
  padding:15px;
  color:#fffafa;
  font-weight: 500;
  font-size: 15px;
}*/


a:hover{
  color:#FF686B!important;
}

.testo-download{
  text-align: center;
}

.img-home{
  background-image: url('http://localhost/prova2/wp-content/uploads/2020/08/imghome1.jpg');
  width: 100%;
  background-size: cover;
}

.img-home2{
  background-image: url('http://localhost/prova2/wp-content/uploads/2020/08/img_home2.jpg');
  width: 100%;
  background-size: cover;
}

.cta {
  position: relative;
  margin:auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #FF686B;
  opacity: 0.6;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  color: white;
  letter-spacing: 0.25em;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  opacity: 1;
  background: #FF686B;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}

/*ICONE FOOTER LATERALE SX*/
.social-ig a:hover{
  color:  #FF686B;
  transition: 0.3s;
}
.social-fb a:hover{
  color:  #FF686B;
  transition: 0.3s;
}
.social-be a:hover{
  color:  #FF686B;
  transition: 0.3s;
}

.social-ig a{
  color: white;
  position: absolute;
  bottom:80px;
  left:45px;
}

.social-ig {
  color: white;
  height: 100%;
  width: 50px;
}

.social-fb a{
  color: white;
  position: absolute;
  bottom:130px;
  left:49px;
}

.social-fb {
  color: white;
  height: 100%;
  width: 50px;
}

.social-be a{
  color: white;
  position: absolute;
  bottom:180px;
  left:45px;
}

.social-be {
  color: white;
  height: 100%;
  width: 50px;
}


/*CARD ARCHIVIO PROJECTS*/
.card{
  transition:all 0.3s ease;
}

.card:hover
{
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.card:hover img{
  transition: 0.3s;
  filter: grayscale(0%);
}

.img-card img{
    filter: grayscale(100%);
}

/*SKILL ABOUT*/
.card-columns {
    column-count: 2;
    width: 700px!important;
}

.skillbar {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.skillbar-bar:before {
  background: #111;
  content: "";
  height: 10px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.skillbar-bar {
  height: 10px;
  width: 0px;
  background: #ccc;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-bar:hover{
  background: #FF686B!important;
  transition: 0.2s;
}

.skillbar-title {
  color: #999;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.skill-bar-percent {
  float: right;
  display: inline-block;
  color: #999;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

/* CENTERING ONLY */
.wrapper {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
